@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş geldiniz</h1>
    <p>Northwind database'i kullanılarak yapılan çalışan yönetim sistemi</p>
    <br />
    <a href="/Employee/Index/" class="btn btn-primary">Çalışanları görüntüle</a>
    <a href="/Employee/AddEmployee/" class="btn btn-secondary">Çalışan ekle</a>
</div>
